.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__head {
    text-align: center;
    margin-bottom: 50px;
    p {
      line-height: 21px;
      font-size: 18px;
      letter-spacing: 0.12px;
      opacity: 0.5;
    }
    h1 {
      font-weight: normal;
      font-size: 28px;
      line-height: 33px;
      margin-bottom: 5px;
    }
  }
  &__content{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__link{
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.11px;
    color: #ADADAD;
    display: block;
    text-align: center;
  }
  &__success{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 400px ;
    svg {
      width: 55px;
      height: 55px;
      color: rgb(45,158,214);
    }
    h2 {
      font-size: 22px;
    }
    p {
      color: #ADADAD;
      font-size: 14px
    }
  }
  &__input{
    border-radius: 5px;
    color: #ADADAD
  }
  .button{
    width:100%;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    background: #1890ff;
    border-radius: 4px;
    border: none;
  }
}